# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Datasets
Dataset_Minor_Skin/
Dataset_Minor_Skin_Resized/

# Training checkpoints
training_checkpoints/
OLD MODELS/
important_models/

# Block model files
*.h5
# Environment files
.env
