# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Datasets
Dataset_Minor_Skin/
Dataset_Minor_Skin_Resized/

# Training checkpoints (safe to ignore)
training_checkpoints/
OLD MODELS/

# Ignore ONLY .h5 model files
# (your final .keras model will NOT be ignored)
*.h5

# Environment file (keep secret)
.env

# OS / Editor files
.vscode/
.DS_Store
